.ex-1-square{
    transition: background-color 2s;
}
.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: width 2s;
}
.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: border-radius 2s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: opacity 2s;
}
.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: all 2s;
}
.ex-5-square:hover{
    transform: scale(1.5);
}
.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img:hover{
    filter: grayscale(1)
}

.ex-7-img{
    transition: filter 2s;
}
.ex-7-img:hover{
    filter: saturate(3) blur(4px);
}

.ex-8-img{
    transition: all 2s;
}
.ex-8-img:hover{
    filter: sepia(1) opacity(0.5);
    border-radius: 1rem;
}

.ex-9-img{
    transition: all 2s;
}
.ex-9-img:hover{
    filter: hue-rotate(180deg) blur(2px);
    border-radius: 1rem;
    transform: scale(1.4);
}

.ex-10-icon{
    animation: ruota 2s linear infinite;
}
@keyframes ruota {
    100%{
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
    animation: ruota_075 2s linear;
}
@keyframes ruota_075 {
    75%{
    transform: rotate(0.75turn);
    }
}

.ex-12-button:hover > .ex-12-top-white{
    animation: muovi_top-white_12 2s linear;
}
@keyframes muovi_top-white_12{
    0%{
        left: 10%;
    }
    50%{
        left: calc(100% - 60px);
    }
}
.ex-12-button:hover > .ex-12-bottom-white {
    animation: muovi_bottom-white_12 2s linear;
}
@keyframes muovi_bottom-white_12{
    0%{
        right: 20%;
    }
    50%{
        right: calc(100% - 60px);
    }
}

.ex-13-button:hover > .ex-13-top-white{
    animation: muovi_top-white_13 2s linear;
}
@keyframes muovi_top-white_13 {
    0%{
        left: 10%;
        top: -10px;
    }
    20% {
        left: calc(100% - 30px);
        top: -10px;
    }
    40%{
        left: calc(100% - 30px);
        top: 100%;
    }
    60% {
        left: 0;
        top: 100%;
    }
    80% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover > .ex-13-bottom-white{
    animation: muovi_bottom-white_13 2s linear;
}
@keyframes muovi_bottom-white_13 {
    0%{
        right: 10%;
        bottom: -10px;
    }
    20% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    40%{
        right: calc(100% - 30px);
        bottom: 100%;
    }
    60% {
        right: 0;
        bottom: 100%;
    }
    80% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        right: 10%;
        bottom: -10px;
    }
}